<section class="app">
    <div class="grid">
        <div class="col col-6 col-sm">
            <div class="appimage">
                <img class="img-responsive" src="assets/app.svg" alt="ristartOnline">
            </div>
        </div>
        <div class="col col-6 col-sm">
            <div class="howto">
                <h3>il tuo menù online, su tutti i tavoli</h3>
                <h1>Perchè è sicuro</h1>
                <p>Registrati gratis e crea il tuo menù, scarica il codice QR, voilà. <br>
                    Ai tuoi clienti basterà inquadrare il codice con lo smartphone per leggere subito il tuo menù e ordinare in tutta sicurezza, ognuno con il suo device, <br>
                    nel rispetto delle norme e del distanziamento sociale. <br><br>
                    
                    Puoi stampare il codice dove vuoi, su tavoli, tovaglie, all'ingresso oppure condividerlo sui social.
                    Un solo gesto per rendere il tuo menù disponibile in sicurezza e sempre aggiornato</p>
                <a href="javascript:void(0);" id="cta_2" class="cta-big">Crea subito il tuo menu</a>
            </div>
        </div>
    </div>
</section>

