<section class="cards" id="comefunziona">
    <div class="centerclaim">
        <h3>semplice per te, sicuro per i tuo clienti</h3>
        <h1>Come funziona</h1>
    </div>
    <div class="grid">
        <div class="col col-4 col-sm">
            <div class="card">
                <div class="cardicon">
                    <img class="img-responsive" src="assets/join.svg" alt="registra il tuo ristorante su ristartonline">
                </div>
                <h2>Registrati e crea il tuo menu</h2>
                <p>Registra gratis il tuo ristorante e crea il tuo menù con il nostro sistema in 5 minuti</p>
            </div>
        </div>
        <div class="col col-4 col-sm">
            <div class="card">
                <div class="cardicon">
                    <img class="img-responsive" src="assets/qricon.svg" alt="registra il tuo ristorante su ristartonline">
                </div>
                <h2>stampa il codice QR del menu</h2>
                <p>Scarica e stampa il codice QR dove vuoi, il QR sarà sempre lo stesso anche se poi aggiorni il menù</p>
            </div>
        </div>
        <div class="col col-4 col-sm">
            <div class="card">
                <div class="cardicon">
                    <img class="img-responsive" src="assets/mobile.svg" alt="registra il tuo ristorante su ristartonline">
                </div>
                <h2>Proponi il tuo menu online</h2>
                <p>Chiedi ai clienti di inquadrare il codice QR con il proprio smartphone. Facile, veloce e sicuro no?</p>
            </div>
        </div>
    </div>
    <div class="cardscta">
        <a href="javascript:void(0);" id="cta_3" class="cta-big">Inizia subito</a>
    </div>
</section>