
<footer>
    <div class="footershape">
        <img src="assets/footer.svg" alt="">
    </div>
    <div class="footershape-mobile">
        <img src="assets/footer-mobile.svg" alt="">
    </div>
    <div class="footer-container">
        <div class="logo-footer">
            <img src="assets/ristart_white.svg" alt="ristartonline">
        </div>
        <div class="footer-info">
        <p><a href="mailto:info@ristart.online"> info@ristart.online</a></p>
        </div>
    </div>
</footer>