<div class="shape">
    <img src="assets/shape.svg" alt="">
</div>
<header>
    <div class="navbar">
    <div class="navbar-container">
        <div class="logo">
        <img class="logoimage" src="assets/ristart.svg" alt="RistartOnline">
        </div>
        <div class="menu">
            <ul class="desktop">
                <li><a href="#comefunziona">Come funziona</a></li>
                <li><a href="#">accedi</a></li>
                <li><a class="menucta" href="#">registrati</a></li>
            </ul>
            <ul class="mobile">
                <li><a class="menucta" href="#">accedi</a></li>
            </ul>
        </div>
    </div>
    </div>
</header>