<section class="hero">
    <div class="grid grid-reverse">
        <div class="col col-6 col-sm">
        <div class="claim">
            <h1>Riapri il tuo ristorante in modo facile e sicuro</h1>
            <p>Riparti in sicurezza con il menu del tuo ristorante online, su ogni tavolo, direttamente sullo smartphone dei tuoi clienti</p>
            <a href="javascript:void(0);" id="cta_1" class="cta-big">Crea il tuo menu gratis</a>
        </div>
        </div>
        <div class="col col-6 col-sm col-first">
        <div class="heroimage">
            <img class="img-responsive" src="assets/hero.svg" alt="ristartOnline">
        </div>
        </div>
    </div>
</section>