<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="robots" content="noindex">
      <title>Ristart Online</title>
      <meta name="description" content="Riapri il tuo ristorante in sicurezza con il menù online direttamente sullo smartphone dei tuoi clienti.">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="styles/main.css">
      <script src="https://kit.fontawesome.com/0adca9bc1e.js" crossorigin="anonymous"></script>
  </head>
  <body>

    {{> partials/_header }}

    <div class="wrapper">
      <div class="main-container">
        {{> partials/_hero }}
        {{> partials/_app }}
        {{> partials/_cards }}

      </div>

    </div>
    {{> partials/_footer }}
    <div class="modal">
      <div class="modal_shadow"></div>
      <div class="modal_container">
        <a href="javascript:void(0);" class="modal_close"><i class="fas fa-times"></i></a>

        <div class="modal_title">
          <div class="h2">
            form registrazione / login
          </div>
          <h1><div class="modal_icon"><i class="fas fa-user"></i></div> accedi</h1>
        </div>
      </div>
    </div>


    <script src="scripts/main-libs.js"></script>
    <script src="scripts/main.js"></script>

  </body>

</html>