* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: $bodycolor;
  background: $light;
  font-size: $text-0;
  font-family: $font-2;
  @media #{$mobile}{
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  display: none;
}

header {
  display: block;
  position: relative;
  
  .navbar {
    max-width: $boxed;
    margin: auto;
    padding: $pad1;
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      img.logoimage {
        width: 100px;
        @media #{$medium}{
          margin-top: 10px;
          margin-left: 14px;
        }
      }
    }
    .menu {
      ul {
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          margin: 0 6px;
          a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .2s ease;
            @media #{$medium}{
              text-transform: capitalize;
            }
            &:hover {
              color: lighten($palette-2, 38%);
            }
            &.menucta {
              background-color: $palette-1;
              padding: 4px 12px;
              border-radius: 22px;
              color: white;
              transition: all .2s ease;
              @include shadowHover;
              @media #{$medium}{
                padding: 6px 24px;
                font-size: 14px;
              }
              &:hover {
                background-color: darken($palette-1, 10%);
              }
            }
          }
        }
        &.desktop {
          display: block;
          @media #{$medium}{
            display: none;
          }
        }
        &.mobile {
          display: none;
          @media #{$medium}{
            display: block;
            margin: 0;
            margin-top: -2px;
          }
        }
      }
    }
  }
}

.shape {
  position: absolute;
  right: -3px;
  top: -3px;
  width: 50%;
  height: auto;
  z-index: 0;
  @media #{$mobile}{
    width: 125%;
    right: 0;
    top: 0;
    overflow-x: hidden;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.wrapper {
  position: relative;
  padding: $pad2;
  @media #{$medium}{
    padding-top: 0;
  }
  z-index: $z1;
}

.main-container {
  max-width: $boxed;
  margin: auto;
  padding-bottom: 60px;
  @media #{$medium}{
    padding-bottom: $pad1;
  }
}

section {
  margin-bottom: $pad5;
  @media #{$medium}{
    margin-bottom: $pad1;
  }
  h1 {
    font-size: $text-5;
    line-height: 1;
    font-weight: 600;
    max-width: 530px;
    margin: 0;
    margin-bottom: 6px;
    @media #{$medium}{
      font-size: $text-4;
    }
  }
}

.heroimage {
  position: relative;
  .qrimage {
    max-width: 110px;
    position: absolute;
    left: 35%;
    top: 28%;
  }
  img {
    margin-left: 8px;
  }
}

.appimage {
  position: relative;
  max-width: 520px;
  .qrimage {
    max-width: 110px;
    position: absolute;
    left: 35%;
    top: 28%;
  }
  img {
    margin-left: 8px;
  }
}

section.cards {
  padding: $pad3 0;
  .centerclaim {
    text-align: center;
    margin: $pad5 auto $pad2;
    @media #{$medium}{
      margin: 0 auto $pad1;
    }
    h1 {
      max-width: 100%;
    }
  }
  .card {
    margin: $pad1;
    margin-bottom: $pad3;
    min-height: 340px;
    .cardicon {
      max-width: 80px;
      margin: $pad2 auto;
    }
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .cardscta {
    text-align: center;
    .cta-big {
      margin: $pad2 auto;
    }
  }
}



h3 {
  font-size: $text-1;
  color: $palette-1;
  font-weight: 400;
  margin-bottom: 6px;
  @media #{$medium}{
    font-size: $text-0;
  }
}

.color-2 {
  color: $palette-2;
}


h2.color-2 {
  @media #{$mobile}{
   margin-left: $pad1;
  }
}

a.cardlink {
  display: block;
  color: inherit;
  text-decoration: none;
}

.claim, .howto {
  margin-top: 64px;
  @media #{$medium}{
    margin: $pad2 auto $pad1; 
  }
}

.card {
  margin: auto;
  background: white;
  padding: $pad2;
  border-radius: $pad2;
  z-index: $z1;
  @include shadow;
  margin-bottom: $pad4;
  @media #{$mobile}{
    width: 100%;
    max-width: 83vw;
    margin: 12px auto;
    border-radius: $pad2;
    padding: $pad1 + 6px;
    margin-bottom: $pad4;
  }
  &.noshadow {
    box-shadow: none;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.avatar {
  background: $grey-2;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: $pad2;
  @media #{$mobile}{
    height: 60px;
    width: 60px;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @media #{$mobile}{
      height: 60px;
      width: 60px;
    }
  }
}


  h2 {
  font-size: $text-1;
  margin: 0;
  font-weight: 400;
  @media #{$mobile}{
    font-size: $text-0;
  }
}


.about-text {
  height: 60px;
  overflow: hidden;
  transition: height .2s ease;
  @media #{$mobile}{
    height: 64px;
  }

  &.open {
    height: 200px;
    @media #{$mobile}{
      height: 420px;
    }
  }
}
.toggle-text {
  display: block;
  text-align: center;
  padding: $pad1;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  color: $palette-2;
}
i.fa-angle-down {
  display: inline-block;
  transform: rotate(0);
  &.rotate {
    transform: rotate(180deg);
  }
}

.embed-container {
  border-radius: $pad2;
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}


footer {
  background-color: transparent;
  color: white;
  padding: $pad4 0;
  position: relative;
  .footer-container {
    max-width: $boxed;
    margin: $pad2 auto;
    text-align: center;
    z-index: $z1;
    h1 {
      font-weight: 600;
      margin: 0;
      font-size: $text-2;
    }
    h2 {
      font-weight: 400;
      margin: 0;
      font-size: $text-1;
    }
    p {
      font-size: 14px;
      color: lighten($grey-2, 10%);
      i {
        margin-right: $pad1;
      }
      a {
        color: lighten($grey-2, 10%);
        text-decoration: none;
      }
    }
  }
  .footer-info {
    margin-top: $pad2;
  }
  .logo-footer {
    text-align: center;
    max-width: 120px;
    margin: $pad2 auto;
  }
}


.footershape {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  display: flex;
  @media #{$medium}{
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.footershape-mobile {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  display: none;
  @media #{$medium}{
    display: flex;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 42, 0.87);
  display: block;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease;
  &.open {
    opacity: 1;
    z-index: 999;
  }
  .modal_container {
    position: relative;
    background: white;
    max-width: 600px;
    margin: auto;
    margin-top: 15vh;
    display: block;
    padding: 2rem;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0px 0px 34px #000;
    .modal_icon {
      display: inline-block;
      margin-left: - $pad1;
      margin-right: $pad1;
      font-size: 2rem;
      color: $palette-3;
    }
    .modal_close {
      position: absolute;
      right: 16px;
      top: 4px;
      font-size: 24px;
      color: $grey-2;
      transition: color .2s ease;
      &:hover {
        color: $palette-1;
      }
    }
  }
}

