@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

.img-responsive {
    width: 100%;
    height: auto;
}

.cta-big {
    display: block;
    background: $palette-1;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: $pad2;
    padding: $pad1 $pad2;
    margin: $pad2 0;
    max-width: 300px;
    text-decoration: none;
    transition: background .1s ease;
    @media #{$medium}{
        margin: $pad2 auto;  
    }

    &:hover {
        animation: shadow-pulse 1s 2;
        background: darken($palette-1, 10%);
    }
}


.cta-small {
    position: absolute;
    right: $pad1;
    top: 5%;
    color: white;
    background: $palette-1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background .1s ease;

    &:hover {
        animation: shadow-pulse 1s 2;
        background: $palette-2;
    }

    @media #{$mobile} {
        right: 24px;
        top: 42px;
    }
}

a.cta-small.mobile {
    display: none;
    @media #{$mobile} {
        display: flex;
    }
}

a.cta-big.mobile {
    display: none;
    @media #{$mobile} {
        display: block;
    }
}

a.cta-small.desktop {
    display: flex;
    @media #{$mobile} {
        display: none;
    }
}

a.cta-big.desktop {
    display: block;
    @media #{$mobile} {
        display: none;
    }
}

.bg-1 {
    background: $palette-1;
}

.bg-2 {
    background: $palette-2;
}

.bg-3 {
    background: $palette-3;
}

.bg-4 {
    background: $palette-4;
}


.colorcard {
    padding: 24px;
    border-radius: 32px;
    max-width: 260px;
    min-height: 240px;
    color: white;
    margin: auto;
    position: relative;
    transition: box-shadow .16s ease;
    &:hover {
        @include shadow;
    }
    h1 {
        font-size: $text-3;
        line-height: $text-3 + 2px;
        margin-top: $pad2;
        margin-top: $pad3;
        @media #{$mobile}{
            font-size: $text-2;
            line-height: $text-2 + 2px; 
        }
    }
    .info {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: rgba(255, 255, 255,.5);
    }
    .more {
        text-align: right;
        font-size: 12px;
        color: rgba(255, 255, 255,.5);
        position: absolute;
        right: $pad2;
        bottom: $pad2;
        i {
            margin-left: $pad05;
        }
    }
    &.video {
        padding: 0;
        margin: 0;
        max-width: initial;
        min-height: initial;
        border-radius: $pad1;
        .embed-container {
            border-radius: $pad1;
        }
    }
}