
// Breakpoint
$mobile:     "only screen and (max-width : 480px)";
$tablet:     "only screen and (max-width : 600px)";
$medium:     "only screen and (max-width : 780px)";
$desktop:    "only screen and (max-width : 942px)";




//Whidth Sizes
$boxed: 1260px;
$fullwidth: 100%;



// Padding
$pad05: 6px;
$pad1: 12px;
$pad2: 24px;
$pad3: 32px;
$pad4: 48px;
$pad5: 52px;

$gutter:12px;

@import url('https://fonts.googleapis.com/css?family=Dosis|Poppins:400,600,700&display=swap');

$font-1: 'Dosis', sans-serif;
$font-2: 'Poppins', sans-serif;


//siz
$regular: 16px;

//Colors
$bodycolor: #3F3D56;

$primary: #6BDC96;

//$color-2: #e12a3e;
$color-2: $primary;
$color-3: #2ae1ce;
//$color-3: #0072b2;

//palette
$palette-1: $primary;
$palette-2: #46738C;
$palette-3: #44d5da;
$palette-4: #02c4bc;
$palette-5: $bodycolor;


$dark-0: #2e2e3e;
$dark-1: #383842;

$light: #f5f5f5;

$grey-1: #dfe3ed;
$grey-2: #aeb9c6;

//navbar
$navbar-height: 54px;
$navbar-height-mobile: 50px;
//$navbar-bg: #e12a3e;
$navbar-bg: white;
$navbar-color: $dark-0;


// box shadow
$radius: 26px;


//text size
$text-5: 46px;
$text-4: 34px;
$text-3: 28px;
$text-2: 22px;
$text-1: 18px;
$text-0: 16px;
$text-small: 12px;
$text-big: 42px;

//z-index
$z0: 0;
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$z6: 600;
$z7: 700;
$z8: 800;
$z9: 900;
$z10: 999;

$img1: url('../assets/bg1.jpg');
$avatar: url('../assets/a_maiorino.jpg');
